:root {
    --VIDA-ATUAL-PERCENT: 100%;
    --VIDA-EXTRA-PERCENT: 0%;
}

body {
    background-color: transparent;
    color: goldenrod;
}

input {
    border: 0 none transparent;
    font-size: 25px;
    background-color: transparent;
    color: goldenrod;
    width: 55px;
}

input:active {
    border: 0 none transparent;
}

input:valid {
    background-color: transparent;
    color: goldenrod;
}

a {
    font-size: 25px;
    font-weight: 900;
    color: darkgoldenrod;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#fundoMoldura {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

#foto-personagem {
    position: absolute;
    z-index: 2;
    top: 39px;
    left: 18px;
    width: 128px;
    height: 135px;
    border-radius: 100%;
    overflow: hidden;
}

#foto-personagem img {
    height: 100%;
}

#molduraCompleta {
    width: 350px;
    height: 150px;
    overflow: visible;
}

#moldura {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

#barraDeVida img{
    z-index: 0;
}

#barraDeVida {
    position: absolute;
    top: 0px;
    left: 0px;
    width: fit-content;
}

#vidaNumerica {
    position: absolute;
    top: 141px;
    left: 183px;
    width: 150px;
    z-index: 10;
}

#dynamicBar {
    position: absolute;
    left: 110px;
    top: 136px;
    width: 271px;
}

#barraDeVidaAtual {
    width: var(--VIDA-ATUAL-PERCENT);
    overflow: hidden;
    transition: 1s;
}

#barraDeVidaAtual img {
    width: 271px;
    position: relative;
    left: 0px;
    top: 0px;
    transform: rotateZ(180deg);
    z-index: 1;
}

#nome {
    position: absolute;
    top: 91px;
    left: 186px;
    font-size: 30px;
    color: goldenrod;
}

#vidaAtual {
    text-align: right;
}

#barraDeVidaExtra {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--VIDA-EXTRA-PERCENT);
    overflow: hidden;
    transition: 1s;
    filter: hue-rotate(180deg);
}

#barraDeVidaExtra img {
    width: 271px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.z-top{
    z-index: 2;
}