body {
    background-color: transparent;
    color: goldenrod;
}

input {
    border: 0 none transparent;
    font-size: 25px;
    background-color: transparent;
    color: goldenrod;
    width: 55px;
}

input:active {
    border: 0 none transparent;
}

input:valid {
    background-color: transparent;
    color: goldenrod;
}

a {
    font-size: 25px;
    font-weight: 900;
    color: black;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: texfield;
}

#fundoMoldura {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

#foto-personagem {
    position: absolute;
    z-index: 2;
    top: 41px;
    left: 34px;
    width: 95px;
    height: 132px;
    border-radius: 100%;
    overflow: hidden;
}

#foto-personagem img {
    height: 100%;
}

#molduraCompleta {
    width: 350px;
    height: 150px;
    overflow: visible;
}

#moldura {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

#barraDeVida {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
}

#vidaNumerica {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 6;
}
