:root{
    --MainColor:        #290044;
    --SecundaryColor:   #6eee3b;
    --HeaderPrimary:    #4a4383;
    --TextPrimary:      #effbff;
    --HeaderText: #fbfffe;
}
body{
    background-color: var(--MainColor);
    color: var(--TextPrimary);
}
.header {
    color: var(--HeaderText);
    background-color: var(--HeaderPrimary);
    height: 75px;
    max-height: 75px;
    position: sticky;
    top:0;
    overflow: hidden;
}
.header::after{
    content: "";
    display: table;
    clear: both;
}
.headerButtonsL {
    position: relative;
    width: 50%;
    float: left;
    height: 50px;
    padding: 12.5px;
}
.headerButtonsL:hover{
    background-color: #3b3186;
}
.headerButtonsR {
    position: relative;
    width: 50%;
    right: 0;
    height: 50px;
    padding: 12.5px;
}
.headerButtonsR:hover{
    background-color: #3b3186;
}
.headerText{
    position: relative;
    left: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 12.5px;
}

#intro{
    background-color: #6eee3b;
    color: #290044;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
p {
    margin-left: 35px;
}