:root{
    --MainColor:        #290044;
    --SecundaryColor:   #6eee3b;
    --HeaderPrimary:    #4a4383;
    --TextPrimary:      #effbff;
    --HeaderText: #fbfffe;
}
body{
    margin-left: 0;
    background-color: var(--MainColor);
    color: var(--TextPrimary);
}
.header {
    color: var(--HeaderText);
    background-color: var(--HeaderPrimary);
    height: 75px;
    max-height: 75px;
    position: sticky;
    top:0;
    overflow: hidden;
    width: 100%;
    left: 0;
}
.titulo{
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    padding: 10px;
}
#informacoes{
    width: 15vw;
    border: #6eee3b solid 3px;
    padding: 10px;
}
#informacoes input{
    background-color: transparent;
    border: 0px;
    color: #4a4383;
    border-bottom: #6eee3b 2px;
    width: 100%;
}
#informacoes input:checked{
    background-color: transparent;
}