:root {
    --MainColor: #290044;
    --SecundaryColor: #6eee3b;
    --HeaderPrimary: #4a4383;
    --TextPrimary: #effbff;
    --HeaderText: #fbfffe;
}

body {
    background-color: var(--MainColor);
    color: var(--TextPrimary);
}

.header {
    color: var(--HeaderText);
    background-color: var(--HeaderPrimary);
    height: 75px;
    max-height: 75px;
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}

.titulo {
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    padding: 10px;
}

#informacoes {
    width: 15vw;
    border: #6eee3b solid 3px;
    border-radius: 5px;
    padding: 10px;
    float: left;
    min-width: 200px;
}

#informacoes input {
    background-color: transparent;
    border: 0px;
    color: whitesmoke;
    border-bottom: #6eee3b 2px;
    border-style: dashed;
    width: 80%;
    margin-bottom: 5px;
}

#informacoes input:first {
    border: 0px none transparent;
}

#informacoes input:valid {
    background-color: transparent;
    color: whitesmoke;
}

#inventario {
    border: #6eee3b solid 3px;
    border-radius: 5px;
    height: 280px;
    width: 30vw;
    float: left;
    overflow: hidden;
}

#money {
    position: relative;
    right: -1;
    float: right;
    border: #4a4383 2px dotted;
    height: 135px;
    width: 50%;
    padding: 15px;
}

#money input {
    background-color: transparent;
    border: 0px;
    color: whitesmoke;
    border-bottom: #6eee3b 2px;
    border-style: dashed;
    width: 80%;
    margin-bottom: 5px;
}

#money input:valid {
    background-color: transparent;
    color: whitesmoke;
}